---
import LayoutAdminZona from "../../layouts/LayoutAdminZona.astro";
import Home from "../../components/adminZona/home";
---

<LayoutAdminZona title="Dashboard Admin Zona">
  <main>
    <Home client:load />
  </main>
</LayoutAdminZona>
