---
import LayoutAdminZona from "../../layouts/LayoutAdminZona.astro";
import UsuariosAdminsZona from "../../components/componentAdminZona/Proyectos/usuarioZona";
---

<LayoutAdminZona title="User Admin Zona">
  <div class="w-full hidden md:block">
    <img class="w-full h-20" src="/Shapedividers.svg" alt="" />
  </div>
  <UsuariosAdminsZona client:load />
</LayoutAdminZona>
