---
import LayoutAdminZona from "../../layouts/LayoutAdminZona.astro";
import ZonasComponent from "../../components/componentAdminZona/zonas";
---

<LayoutAdminZona title="Ventas Admin Zona">
  <div class="w-full hidden md:block">
    <img class="w-full h-20" src="/Shapedividers.svg" alt="" />
  </div>
  <ZonasComponent client:load />
</LayoutAdminZona>
