---
import Layout from "../layouts/Layout.astro";
import Login from "../components/login.jsx";
---

<Layout title="Login">
  <main class="text-white bg-black flex justify-center items-center h-screen">
    <Login client:load />
  </main>
</Layout>
