---
import LayoutAdmin from "../../layouts/LayoutAdmin.astro";
import Admin_zona from "../../components/adminZona";
---

<LayoutAdmin title="Admin Zonas">
  <main>
    <Admin_zona client:load />
  </main>
</LayoutAdmin>
---
