---
import LayoutAdmin from "../../layouts/LayoutAdmin.astro";
import Admin_zona from "../../components/adminZona";
---

<LayoutAdmin title="Admin Zonas">
  <main>
    <section class="w-full flex justify-center items-center">
      <img class="w-full h-20" src="/Shapedividers.svg" alt="" />
    </section>
    <Admin_zona client:load />
  </main>
</LayoutAdmin>
---
