---
import LayoutAdmin from "../../layouts/LayoutAdmin.astro";
import BloquearNumerosComponent from "../../components/BloquearNumeros/Proyectos/Bloqueados";
---

<LayoutAdmin title="Bloquear Numeros">
  <section class="w-full flex justify-center items-center">
    <img class="w-full h-20" src="/Shapedividers.svg" alt="" />
  </section>
  <BloquearNumerosComponent client:load />
</LayoutAdmin>
