---
import LayoutAdmin from "../../layouts/LayoutAdmin.astro";
import CarterasGeneralesComponent from "../../components/carteraGeneral";
---

<LayoutAdmin title="Cartera">
  <div class="w-full hidden md:block">
    <img class="w-full h-20" src="/Shapedividers.svg" alt="" />
  </div>
  <section
    class="w-full flex justify-center md:justify-end items-center text-white"
  >
    <p
      class="text-center font-bold flex items-center text-xl text-black pr-4 gap-x-2"
    >
      <img
        src="https://cdn-icons-png.flaticon.com/512/31/31368.png"
        alt=""
        class="w-6 h-6"
      />
      Cartera General
    </p>
  </section>
  <CarterasGeneralesComponent client:load />
</LayoutAdmin>
---
