---
import Home from "../../components/home";
import LayoutAdmin from "../../layouts/LayoutAdmin.astro";

// No necesitas verificar la sesión directamente en el servidor aquí,
// ya que la redirección debería ocurrir en el lado del cliente
---

<LayoutAdmin title="Dashboard">
  <main>
    <div class="w-full hidden md:block">
      <img class="w-full h-20" src="/Shapedividers.svg" alt="" />
    </div>
    <Home client:load />
  </main>
</LayoutAdmin>
