---
import LayoutAdmin from "../../layouts/LayoutAdmin.astro";
import GanadoresLoterias from "../../components/Ganadores.jsx";
---

<LayoutAdmin title="Ganadores">
  <main>
    <GanadoresLoterias client:load />
  </main>
</LayoutAdmin>
