---
import LayoutAdmin from "../../layouts/LayoutAdmin.astro";
import GanadoresLoterias from "../../components/Ganadores.jsx";
---

<LayoutAdmin title="Ganadores">
  <main>
    <div class="w-full hidden md:block">
      <img class="w-full h-20" src="/Shapedividers.svg" alt="" />
    </div>
    <GanadoresLoterias client:load />
  </main>
</LayoutAdmin>
