---
import LayoutAdmin from "../../layouts/LayoutAdmin.astro";
import Usuarios from "../../components/usuarios";
---

<LayoutAdmin title="Usuarios">
  <main>
    <div class="w-full hidden md:block">
      <img class="w-full h-20" src="/Shapedividers.svg" alt="" />
    </div>
    <Usuarios client:load />
  </main>
</LayoutAdmin>
