---
import LayoutAdmin from "../../layouts/LayoutAdmin.astro";
import Usuarios from "../../components/usuarios";
---

<LayoutAdmin title="Usuarios">
  <main>
    <Usuarios client:load />
  </main>
</LayoutAdmin>
