---
import ZonasComponent from "../../components/zona/Proyectos/zonas";
import LayoutAdmin from "../../layouts/LayoutAdmin.astro";
---

<LayoutAdmin title="Zonas">
  <section class="w-full flex justify-center items-center">
    <img class="w-full h-20" src="/Shapedividers.svg" alt="" />
  </section>
  <ZonasComponent client:load />
</LayoutAdmin>
